@font-face {
    font-family: "DIN Engschrift";
    src: url("./fonts/DIN\ 1451\ Std\ Engschrift.otf");
}

* {
    --text-normal: #238cd3;
    --text-hover: #78EDFF;
    --hover-gradient: linear-gradient(to left, rgba(26, 103, 155, 0.25) 0%, transparent 100%);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: "DIN Engschrift", sans-serif;
}